In [1]:
import pandas as pd

In [3]:
a = pd.read_csv("ex1.csv")

In [4]:
a

   1     Libin   21   92
0  2    Lavesh   20   84
1  3   Aruneet   19   95
2  4      Ravi   20   78

In [6]:
type(a)

pandas.core.frame.DataFrame

In [7]:
a.head(2)

   1     Libin   21   92
0  2    Lavesh   20   84
1  3   Aruneet   19   95

In [8]:
a.tail(2)

   1     Libin   21   92
1  3   Aruneet   19   95
2  4      Ravi   20   78